* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body,
.header,
.section-info,
.card {
  display: flex;
  flex-direction: column;
}

.body {
  font-family: "Roboto", sans-serif;
}

/* STYLE DU HEADER */

.header {
  background-color: #1f2937;
  color: white;
}

.header-body,
.header-nav {
  padding: 0 70px;
}

.header-nav {
  display: flex;
  width: 100%;
  margin-top: -16px;
}

.logo,
.nav-links {
  flex: 1;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 200px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links ul {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: flex-end;
}

ul li {
  list-style-type: none;
}

.ul li,
.body-info p {
  font-size: 18px;
  color: #e5e7eb;
}

.header-body {
  display: flex;
  align-items: center;
}

.body-info .body-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.body-info .btn {
  margin-top: 16px;
  background-color: rgb(42, 94, 42);
  display: inline-block;
  padding: 12px;
  border-radius: 5px;
  font-weight: 900;
}

.body-img {
  display: flex;
  width: 50%;
  justify-content: center;
}

.body-img img {
  width: 100%;
  object-fit: contain;
}

/* SECTION CATALOGUE STYLE */
.section-info {
  background-color: #F9FAF8;
  padding: 50px 70px 70px;
  text-align: center;
  font-weight: 900;
  color: #1f2937;
}

.section-info .title {
  margin-bottom: 50px;
  font-size: 36px;
}

.cards {
  display: flex;
  gap: 16px;
}

.card {
  width: 250px;
  flex: 1;
}

.card-img {
  display: flex;
  justify-content: center;
  border: 1.5px solid rgb(42, 94, 42);
  border-radius: 25px;
  overflow: hidden;
  
}

.card-img img {
  width: 100%;
  object-fit: contain;
}

.card p {
  text-align: center;
  margin-top: 18px;
}

/* TESTIMONIAL STYLE */

.testimonial {
  background-color: #E7E5EB;
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
  padding: 100px;
  
}

.testimonial p {
  text-align: right;
  margin-top: 12px;
  font-weight: 800;
  font-size: 24px;
}

.cta {
  background-color: lightgray;
}

.footer {
  background-color: lightskyblue;
}
