* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

/* STYLE DU HEADER */

.header {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  color: white;
}
.header-body,
.header-nav {
  padding: 0 70px;
}

.header-nav {
  display: flex;
  width: 100%;
}

.logo,
.nav-links {
  flex: 1;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 200px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links ul {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: flex-end;
}

ul li {
  list-style-type: none;
}

.ul li,
.body-info p {
  font-size: 18px;
  color: #e5e7eb;
}

.header-body {
  display: flex;
  align-items: center;
}

.body-info .body-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.body-info .btn {
  margin-top: 16px;
  background-color: rgb(42, 94, 42);
  display: inline-block;
  padding: 12px;
  border-radius: 5px;
  font-weight: 900;
}

.body-img {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.body-img img {
    width: 70%;
    object-fit: contain;
}

.section-info,
.testimonial,
.cta {
  flex: 1;
}

.section-info {
  background-color: lightpink;
}

.testimonial {
  background-color: lightseagreen;
}

.cta {
  background-color: lightgray;
}

.footer {
  background-color: lightskyblue;
}
